PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE platform (
  platform_id INTEGER PRIMARY KEY,
  name TEXT NOT NULL UNIQUE
);
INSERT INTO platform VALUES(1,'SNES');
INSERT INTO platform VALUES(2,'Nintendo Switch');
INSERT INTO platform VALUES(3,'PlayStation');
COMMIT;
